.primary-title {
  font-weight: 400;
  color: hsl(24, 5%, 18%);

  margin-bottom: 15px;
}

.second-title {
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-top: 20px;
  margin-bottom: 20px;
}

.third-title {
  font-family: "Outfit";
  font-weight: 700;
  color: hsl(332, 51%, 32%);
  margin-left: 15px;
  margin-bottom: 15px;
}

.paragraphs-topics {
  font-family: "Outfit";
  font-size: 16px;
  color: hsl(30, 10%, 34%);

  display: grid;
  gap: 15px;

  margin: 0;
}
